<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGestionSociedadAuditorLogic" />
                <binding name="WSHttpBinding_ISeguridadLogic" />
                <binding name="WSHttpBinding_IConcursoPublicoMeritoLogic" />
                <binding name="WSHttpBinding_IPropuestaAuditoriaLogic" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:33694/ServicioSeguridad.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISeguridadLogic"
                contract="ProxyServicioSeguridad.ISeguridadLogic" name="WSHttpBinding_ISeguridadLogic">
                <identity>
                    <userPrincipalName value="61226@contraloria.gob.pe" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:33694/ServicioPropuestaAuditoria.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPropuestaAuditoriaLogic"
                contract="ProxyServicioPropuestaAuditoria.IPropuestaAuditoriaLogic"
                name="WSHttpBinding_IPropuestaAuditoriaLogic">
                <identity>
                    <userPrincipalName value="61226@contraloria.gob.pe" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:33694/ServicioGestionSoaAuditor.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGestionSociedadAuditorLogic"
                contract="ProxyServicioGestionSoaAuditor.IGestionSociedadAuditorLogic"
                name="WSHttpBinding_IGestionSociedadAuditorLogic">
                <identity>
                    <userPrincipalName value="61226@contraloria.gob.pe" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:33694/ServicioConcursoPublicoMerito.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConcursoPublicoMeritoLogic"
                contract="ProxyServicioConcursoPublicoMerito.IConcursoPublicoMeritoLogic"
                name="WSHttpBinding_IConcursoPublicoMeritoLogic">
                <identity>
                    <userPrincipalName value="61226@contraloria.gob.pe" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>