 

@{
    <li class="light-grey">
        @*@using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new {id = "logoutForm"}))
        {*@
             
            @*@Html.AntiForgeryToken()*@
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src=" " alt="" />
                <span class="user-info">
                    <small>Hola,</small>
                    @*@MiSesion.Usuario.Nombres*@
                </span>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                @*<li>
                    <a href="#">
                        <i class="fa fa-user"></i>
                        Perfil
                    </a>
                </li>
                <li class="divider"></li>*@
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fa fa-power-off"></i>
                        Cerrar sesión
                    </a>
                </li>
            </ul>

        @*}*@
    </li>
}