<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <connectionStrings>
    <!--<add name="SI_SOCAUDEntities" connectionString="metadata=res://*/SAFModel.csdl|res://*/SAFModel.ssdl|res://*/SAFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SI_SOCAUD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SI_SOCAUDEntities" connectionString="metadata=res://*/SAFModel.csdl|res://*/SAFModel.ssdl|res://*/SAFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.20.3.234;initial catalog=SI_SOCAUD;Uid=sa;Pwd=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--Produccion-->

    <add name="SI_SOCAUDEntities" connectionString="metadata=res://*/SAFModel.csdl|res://*/SAFModel.ssdl|res://*/SAFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbacademia.cyhmdhuqkann.us-east-1.rds.amazonaws.com;initial catalog=SI_SOCAUD;Uid=sa;Pwd=Pass_2003;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>

    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceTypeBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true"  />
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <services>
      <service name="SAF.Negocio.Implementacion.SafRestLogic" behaviorConfiguration="ServiceTypeBehaviors" >
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="crossDomain" contract="SAF.Negocio.Contrato.ISafRestLogic" behaviorConfiguration="web" />
        <host></host>
      </service>
    </services>
  </system.serviceModel>  
  
</configuration>