<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <connectionStrings>
    <add name="SI_SOCAUDEntities" connectionString="metadata=res://*/SAFModel.csdl|res://*/SAFModel.ssdl|res://*/SAFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SI_SOCAUD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="SI_SOCAUDEntities" connectionString="metadata=res://*/SAFModel.csdl|res://*/SAFModel.ssdl|res://*/SAFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.20.3.234;initial catalog=SI_SOCAUD;Uid=sa;Pwd=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--prod-->
    <!--<add name="SI_SOCAUDEntities" connectionString="metadata=res://*/SAFModel.csdl|res://*/SAFModel.ssdl|res://*/SAFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbacademia.cyhmdhuqkann.us-east-1.rds.amazonaws.com;initial catalog=SI_SOCAUD;Uid=sa;Pwd=Pass_2003;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" ></serviceMetadata>
          <serviceDebug includeExceptionDetailInFaults ="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </wsHttpBinding>
    </bindings>



    <services>

      <service name="SAF.Negocio.Implementacion.PropuestaAuditoriaLogic">
        <endpoint bindingConfiguration="CustomBinding" address="" binding="wsHttpBinding" contract="SAF.Negocio.Contrato.IPropuestaAuditoriaLogic" />
      </service>
      
      
      <service name="SAF.Negocio.Implementacion.ConcursoPublicoMeritoLogic">
        <endpoint bindingConfiguration="CustomBinding" address="" binding="wsHttpBinding" contract="SAF.Negocio.Contrato.IConcursoPublicoMeritoLogic" />
      </service>

      <service name="SAF.Negocio.Implementacion.GestionSociedadAuditorLogic">
        <endpoint bindingConfiguration="CustomBinding" address="" binding="wsHttpBinding" contract="SAF.Negocio.Contrato.IGestionSociedadAuditorLogic" />
      </service>

      <service name="SAF.Negocio.Implementacion.SeguridadLogic">
        <endpoint bindingConfiguration="CustomBinding" address="" binding="wsHttpBinding" contract="SAF.Negocio.Contrato.ISeguridadLogic" />
      </service>


      
    </services>  

  </system.serviceModel>

</configuration>